@import "~bootstrap/scss/bootstrap";


#SignInForm {
  width: 50%;
}

#SignInForm button {
  width: 10rem;
}

#Balance {
  label.title {
    font-size: 20px;
    color: #5a5a5a;
  }

  label.total {
    font-size: 32px;
    color: #000;
    font-weight: 500;
  }
}

.component-transfer-form{
  button {
    width: 100%;
  }
}

.component-sign-up-form, .component-sign-in-form {
  width: 100%;
  max-width: 420px;
  padding: 60px 15px;
  margin: 0 auto;


  button {
    width: 100%;
  }
}

.component-wallet-list-item {
  padding: 0.2rem 0 0.2rem 0;

  .amount {
    font-size: 1.2rem;
    text-align: end;
  }
}


.sidebar-toggle {
  opacity: 0.6;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.sidebar-toggle:hover {
  opacity: 1;
}

.sidebar-toggle.rotated {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.component-transaction-list-item {

  padding: 1rem 0 1rem 0;
  
  label {
    display: inline-block;
    color: #5a5a5a;
  }

  .item-group-value {
    display: block;
    width: 100%;
    padding: 0.375rem 0 0.375rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    line-height: 1.5;
  }

  .amount {
    font-size: 2rem;
    text-align: end;
  }
}

.main-flex {
  display: flex;
}


.main-wrapper {
  position: relative;
  width: 100%;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #0061f7 !important;
  width: 253px;
  padding: 20px 15px 37px 20px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  min-height: 100vh;
  /* sidebar head */
  /* sidebar body */
  /* sidebar footer */
}

.sidebar a:focus {
  outline: none;
}

.sidebar-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-body {
  padding-top: 20px;
}

.sidebar-body-menu li {
  position: relative;
}

.sidebar-body-menu a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 8px 0;
  opacity: 0.6;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.43;
}

.sidebar-body-menu a::after {
  position: absolute;
  content: '';
  height: 22px;
  width: 3px;
  right: -11px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.sidebar-body-menu a:hover {
  opacity: 1;
}

.sidebar-body-menu a:hover::after {
  opacity: 1;
}

.sidebar-body-menu a.active {
  opacity: 1;
}

.sidebar-body-menu a.active::after {
  opacity: 1;
}

.sidebar-body-menu a > .icon {
  margin-right: 10px;
}

.sidebar-user {
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-user-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  overflow: hidden;
  background-color: #fff;
}

.sidebar-user-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-user__title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.75px;
  color: #FFFFFF;
}

.sidebar-user__subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.86px;
  color: rgba(255, 255, 255, 0.5);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.logo {
  margin-right: 9px;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

.logo-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.86px;
}

.logo-subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 2.42;
  letter-spacing: 0.86px;
}

.form-react-select-lg {
  min-height: calc(1.5em + 1rem + 2px);
  font-size: 1.25rem;
}